<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Discord Role Bot</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Whats in the config?</h1>
        </div>
        {% for role in result %}
        <div class="row align-items-center">
            <div class="col"> {{ role["react"] }} </div>
            <div class="col"> {{ role["description"] }} </div>
        </div>
        {% endfor %}
        <div>
            <button type="button" class="btn btn-primary" onclick="">Edit</button>
        </div>
    </div>
</body>

</html>